@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filepond--item {
  width: calc(25% - 0.5em); /* mostra 4 imagens por linha com espaço */
  margin-right: 0.5em;
}
